.Toolbar {
    height: 60px;
    width: 100%;
    position: relative;
    top: 10px;
    left: 0;
    background-color:#EF9C83;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    z-index: 90;
   color:white ;
}
.Toolbar nav {
    height: 100%;
}
@media (max-width: 499px) {
    .DesktopOnly {
      display: none;
    }
  }
  

