.ForgetPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  margin: 20px auto;
  margin-top: 120px;
}
.PasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid crimson;
  padding: 2rem 3rem;
}
.FormItem {
  padding: 0.5rem;
}
@media (min-width: 600px) {
  .ForgetPassword {
      width: 500px;
  }
}
